<!DOCTYPE HTML>
<html lang="en-US">
 <!--

    OO Ooo.._______________ _______________
   O   ____ |    |        | |             |
   ][__| (  |____|________| |°oO0°.O0°Oo°0|
  (_______|_|____|________|_|_____________|
    0 - 0      0       0       0       0
=============================================
-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/syntax.css">
  <link rel="stylesheet" href="css/solo.css">
</head>
